#section2{
   background: #fff;
   padding: 5rem 5%;
   .footer{
      display: flex;
      justify-content: space-between;
  .s2_left{
     width: 900px;
     .p1{
        //font-size: 1rem;
        font-size: 20px;
        font-weight: 700;
        color: #111;
     }
     .p2{
        color: #111;
        font-size: 46px;
        margin-bottom: 48px;
        font-weight: 900;
     }
     button{
        width: 192px;
        height: 56px;
        background: #f3f5f7;
        border-radius: 0.5rem;
        margin-right: 12px;
        position: relative;
        img{
           position: absolute;
           top: 30%;
           left: 12%;
        }
     }
  }
  .s2_right{
     width: 900px;
     span{
        padding: 0 15px;
     }
     strong{
        margin-right: 5px;
     }
     .right_box{
        margin-bottom: 87px;
        .right_p1{
           display: block;
           margin-bottom: 16px;
           padding: 0 15px;
        }
     }
     .right_p2{
        margin: 0;
        font-size: 15px;
        padding: 0 15px;
        color: #9ca2a8;
     }
  }
}
}
