#term{
  .el-checkbox__label{
    display: flex;
    align-items: center;
    white-space: normal;
    padding-left: 14px;
    font-size: 16px;
  }
  .el-checkbox{
    display: flex;
    align-items: center;
    .essential{
      //color: #959595;
      font-size: 10px;
      font-weight: 300;
      margin-left: 3px;
      vertical-align: text-top;
    }
  }
  .all_agree,.choice{
    border: 1px solid #CCCCCC;
    padding: 9px 12px;
    margin-bottom: 12px;
    background: #CCCCCC;
  }
  .terms,.privacy{
    border: 1px solid #CCCCCC;
    padding: 9px 12px;
    background: #CCCCCC;
  }
  .terms_box,.privacy_box{
    font-size: 12px;
    border: 1px solid #CCCCCC;
    border-top: 0;
    padding: 9px 12px;
    margin-bottom: 12px;
    .scroll_container{
      max-height: 222px;
      overflow: auto;
    }
  }
  .button{
    display: flex;
    justify-content: space-between;
    button{
      width: 49%;
      height: 40px;
      background: #1976d2;
      color: white;
    }
  }
}
